<h1>My Messages</h1>
<div class='col-xs-6 col-xs-offset-2'>
<% @messages.each do |message| %>
  <p>
    <%= message.sender.username %> <%= link_to(
    message.title, 
    message_url(message)) %>
  </p>
<% end %>
</div>
