<div class='row'>
  <h1>Sign In</h1>
  <div class='col-xs-8 col-xs-offset-2 text-center'> 
    <form action="<%= session_url %>" method='POST' id='signup'>
      <input 
        type='hidden' 
        name='authenticity_token' 
        value='<%= form_authenticity_token %>'>
      <label>Username
        <input type='text' id='username' name='user[username]' value='<%= @user.username %>'>
      </label>
      <label>Password
        <input type='password' name='user[password]' id='password'>
      </label>
      <input class='btn btn-primary' id='submit' type='submit' value='Sign In'>
      <button class='btn btn-info' type='button'>Guest</button>
    </form>
  </div>
</div>

<script>
  $('.btn-info').on('click', function (event) {
    $('#username').val('guest_user');
    $('#password').val('zxcvbnm');
    $('#submit').click();
  });
</script>