<div class='row'>
  <div class='col-xs-6 col-xs-offset-2'>
    <p>From: <%= message.escape('sender') %></p>
    <p>Title: <%= message.escape('title') %></p>
    <p>Body: <%= message.escape('body') %></p>
  </div>
</div>