/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import 'bootstrap';

h1 {
  text-align: center;
  padding-bottom: 30px;
}

#email {
  width: 26px;
  display: inline-block;
}

#password {
  padding-left: 1px;
  display: inline-block;
}

#left-nav {
  float: left;
  display: inline-block;
  // background-color: rgb(24, 50, 112);
  background-color: silver;
  position: absolute;
  top: 52px;
}

.left-nav {
  color: #5378c8;
  line-height: 16px;
}

.panel {
  text-align: center;
}