/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import 'bootstrap';

h1 {
  text-align: center;
  padding-bottom: 30px;
}

#email {
  width: 26px;
  display: inline-block;
}

#password {
  padding-left: 1px;
  display: inline-block;
}

#left-nav {
  float: left;
  display: inline-block;
  max-width: 140px;
}

// #left-nav.affix {
//   position: fixed;
//   top: 52px;
//   float: left;
// }

.left-nav {
  color: #5378c8;
  line-height: 16px;
}

.form-container {
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  border: thin solid lightGrey;
}

.photo {
  min-height: 200px;
  min-width: 200px;
  max-width: 200px;
  max-height: 200px;
  display: inline-block;
}

.profile-header {
  display: inline-block;
  vertical-align: top;
}

.index-photo-div {
  min-height: 150px;
  min-width: 150px;
  max-width: 150px;
  max-height: 150px;
}

.index-photo {
  max-height: 100%;
}

.navbar-brand {
  padding: 5px 15px;
}

.navbar {
  margin-bottom: 0px;
}

.content {
  float: left;
  clear: right;
}