<h1>Matches</h1>
<div class='panel'>
  <div class='col-xs-8 col-xs-offset-2'>
    <% profiles.each(function (profile) { %>
      <a href='#/profiles/<%= profile.escape("username") %>'><div class='col-xs-4 panel panel-default'>
        <div class='index-photo'>
          <img
            src="<%= profile.escape('photo_url') %>"
            alt='Photo'
            height='150'
            width='150'>
        </div>
        <p><%= profile.escape('username') %></p>
        <p><%= profile.escape('age') + ' | ' + profile.escape('location') %></p>
      </div>
      </a>
    <% }); %>
  </div>
</div>