<div class='row'>
  <div class='col-xs-8 col-xs-offset-2'>
    <form id='search-form' role='form'>
      <div class='form-group'>
        <input class='form-control' id='search' name='query' placeholder='Search for username' type="text">
      </div>
    </form>
  </div>
</div>

<script>
  $('#search').focus();
</script>