<div>
  <form id='search-form' role='form'>
    <div class='form-group'>
      <input class='form-control' id='search' name='query' placeholder='Search for username' type="text">
    </div>
  </form>
</div>
